.project-item {
    border: 2px solid #333;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

:host:nth-child(even) {
    background-color: #f0f8ff;
  }
  
  :host:nth-child(odd) {
    background-color: #fffacd;
  }